<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'css/pay.css' %}" rel="stylesheet">
  </head>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
  </style>
  <body>
    <div class="container"> 
    <h1 style="font-family:'Indie Flower', cursive;"> Donate Here<h1>
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    {% comment %} <script src="https://www.paypal.com/sdk/js?client-id=AWA1Og3I-NZuCro23xl6-mxMRUI6Ldhk9mAyKoiCQYkStJ1yyk12oq3344E1M1A_mFf44BPv9e1Y4abh&currency=USD"></script> {% endcomment %}
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    {% comment %} <script>
      paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '50' // Can also reference a variable or function
              }
            }]
          });
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-button-container');
    </script> {% endcomment %}

    <script>
      // Render the PayPal button into #paypal-button-container
      paypal.Buttons({
          style: {
              layout: 'horizontal',
              width: 120,
              height:50
          }
      }).render('#paypal-button-container');
  </script>
  </div>
  </body>
</html>